*{

  box-sizing: border-box;
  margin: 0 auto;

}
body{
 
 background-color: rgba(0, 0, 0, 0.8);
}

section{

  width: 100%;
  background-color: white;

}

.navbar-brand{
  margin: 0 ;
}

.carousel-inner{

  max-height: 660px;
}
article{

width: 100%;
padding: 40px;
float: left;
  
}
img{
  width: 100%;

}


.errors{

 border: 4px solid #ce3d3d
}

.errorcla{
    text-align: center;
    color: orangered;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 380px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;

}
.card:hover {
  -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.2,1.2); /* Standard syntax */
}

hr{

      border-top: 4px solid #673AB7;
}

h2{

  color: #673AB7;
  text-align: center;
}

h3{

 color: #673AB7
}

input{

  width: 100%;
  border-radius: 4px;
}
main{

  width: 90%;
  background-color: white;
  padding: 10px;
}
p{
  line-height: 1.6;
  margin: 0;
}

.navbar-dark .navbar-nav .nav-link{

  color: white;
  padding:4px 40px 4px 40px;
  font-size: 24px;
}.navbar-dark .navbar-nav .nav-link:hover{

  border-bottom: 2px solid #673AB7;
}

.row{


  padding: 10px;

}

@media (max-width: 575.99px) {

.col-xs-1 {
    width: 100%;
}}

@media (min-width: 574px) and (max-width: 991.99px) {

.col-sm-2 {
    width: 50%;
}}

.col-xs-1 {
    width: 99.33333333%;
}

@media (min-width: 768px){

.col-sm-1 {
    width: 100%;
}}

@media (min-width: 992px) and (max-width: 1199.99px) {
.col-md-3 {
    width: 24.33%;
}
}

@media (min-width: 1200px){
.col-lg-6 {
    width:33.33%;
}

}


.tab {

    margin-bottom: 25px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
}


.tab button {

    background-color: inherit;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
 width: 25%;
 padding: 18px;
    transition: 0.3s;
    font-size: 22px;
    color: #673AB7
}

.tab button:hover {
    background-color: #ddd;
}


.tab button.active {
    background-color: #ccc;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}




